<div class="clearfix">
  <div class="background shadow-2  overflow-hidden">
    <app-side-bar class="col-12"></app-side-bar>
    <div class="p3">
      <h1 class="regular darkgray line-height-1 mb3">Energy consumption (kWh)</h1>
      <section class="mb3">
        <button class="
                h5
                inline-block
                shadow-2
                pl2
                pr2
                pt1
                pb1
                roundedMore
                border-grey
                bg-blue
                white
                bold
              ">
          Last 30 days
        </button>
      </section>

      <section class="chartHeight mb3">
        <app-chart [chartId]="'chart'" [chartData]="chartData" [chartType]="'bar'"></app-chart>
      </section>
    </div>
  </div>
</div>